.DS_Store
node_modules
/dist
Dockerfile
*package-lock.json


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Custom
importer/data/imdb*
importer/data/xmltv_tnt.xml
importer/data/*:Zone.Identifier*
dist/
*apikey
*.psd
.env
qharoche.txt

webapp-next