#app {
  & a {
    color: #7ec6ff;
    text-decoration: none;

    &:hover {
      color: white;
    }
  }

  & .v-toolbar__content {
    background: url('../public/img/bgmarbre.jpg');
  }

  & .v-main {
    background-color: #222222;
  }

  & .theme--dark.v-data-table > .v-data-table__wrapper > table > tbody > tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) {
    background: rgba(255, 255, 255, 0.1);
  }

  & .container > div > h1 {
    margin: 15px;
  }

  & .container > div > ul {
    margin-bottom: 15px;
  }

  & .container > div > h1,
    & .container > div > h2,
    & .container > div > p,
    & .container > div > ul {
    margin-left: 15px;
    margin-right: 15px;
  }

  @media (max-width: 991px) {
    .desktop-only {
      display: none;
    }
  }
}

#app-logo {
  & img {
    margin-top: 3px;
    max-height: 32px;
    transition: 0.2s;

    @media (max-width: 600px) {
      max-width: 200px;
    }
  }

  &:hover, &:hover img {
    filter: brightness(1.2);
  }
}
